body {
	margin:0px;
	padding: 0px;
	border: 0px;
	background-color: #333232;
}

.main {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgb(250, 250, 250);
	min-height: 95%;
	height: auto;
	padding-bottom: 20px;
}

.footer {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	background-color: #6f6f6f;
	border: 1px solid white;
	height: 5%;
	padding: 10px !important;
}

.logo {
	width: 10%;
	padding: 0px;
	margin-top: 30px;
	margin-left: 40px;
}

.title {
	margin-top: 30px;
	font-size: 75px;
	color: black;
	margin-left: 100px;
}

.btn-small {
	width: 5% !important;
	height: 40px !important;
}

.btn-medium {
	width: 43% !important;
	height: 40px !important;
}

.btn-large {
	width: 95% !important;
}

.img-tutorial {
	margin: 5px;
	border: 1px solid black;
}

.bold {
	font-weight: bold;
}

.fit-width {
	width: 100%;
}

.div-instructions {
	width:50%;
	margin-left: auto;
	margin-right: auto;
	background-color: #ddd;
	padding: 10px;
}

.footer-cont {
	color: white;
}